/* Two inputs using block */

.first-input {
  margin-bottom: 5px;
}

.second-input {
  display: block;
}

/* Two buttons and paragraph */

.problem-two {
  margin-top: 10px;
}

.info {
  width: 200px;
  vertical-align: middle;
  display: inline-block;
}

.yes-button,
.no-button {
  display: inline-block;
  vertical-align: middle;
}

/* Google copy */

.google-copy {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.google {
  display: block;
  width: 200px;
  margin-left: 150px;
  margin-bottom: 10px;
}

.google-input {
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

/* Sign Up */

.signup {
  margin-top: 50px;
}

.first-name,
.last-name {
  font-size: 16px;
  padding: 5px 8px;
  width: 100px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 0;
}

.email {
  display: block;
  font-size: 16px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 5px 8px;
  margin-top: 10px;
  width: 223px;
  margin-bottom: 0;
}

.signup-button {
  width: 240px;
  background-color: rgb(86, 86, 245);
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

/* Uber ride */

.uber {
  font-family: arial;
  margin-top: 50px;
}

.uber-info {
  font-size: 30px;
  margin-bottom: 0;
}

.pickup,
.dest {
  display: block;
  padding: 10px 16px;
  width: 250px;
  background-color: rgb(206, 204, 204);
  border: none;
  border-radius: 2px;
  margin-bottom: 5px;
}

.pickup {
  margin-top: 20px;
}

.request,
.schedule {
  margin-top: 20px;
  padding: 10px;
  border: none;
}

.request {
  color: #fff;
  background-color: #000;
}

.schedule{
  background-color: rgb(206, 204, 204);

}